@model OgrenciNotMVC.Models.EntityFramework.KULUPLER
@{
    ViewBag.Title = "KulupGetir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Kulüp Güncelle</h3>
<br />

@using (Html.BeginForm("Guncelle", "Kulup", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.KULUPAD)
        @Html.TextBoxFor(m => m.KULUPAD,new { @class="form-control" })
    </div>
    @Html.HiddenFor(m=>m.KULUPID)
    <div style="margin-top:15px">
        <button class="btn btn-primary">Güncelle</button>
    </div>
}


